
/* ==========================================================================
	Divs
========================================================================== */
	
	

	.middle
	{
		display: table-cell;
		vertical-align: middle;
	}
	

	.inner
	{
		margin-left: auto;
		margin-right: auto;
		width:100%;
	}
	
	
	
/* ==========================================================================
	Main
========================================================================== */	



	::-webkit-scrollbar
	{
		display: none;
	}
	

	body
	{
		background-color: #000;
		font-family: 'Raleway', sans-serif;
		font-size: 1em;
		color: #fff;
		text-align: center;
		margin: 0;
	}
	
	
	html, body
	{
	  width: 100%;
	  height: 100%;
	}


	h1
	{
		font-size: 1em;
		text-transform: capitalize;
		padding-bottom: 40px;
	}


/* ==========================================================================
	Corners
========================================================================== */	



	p.footer
	{
		text-align: left;
		letter-spacing: 2px;
		line-height: 1.4em;
		font-size: .5em;
		margin: 20px;
		position: fixed;
		bottom: 0;
		left: 0;
		z-index: 20;
	}

	
	img.logo
	{
		text-align: right;
		width: 40px;
		margin: 20px;
		position: fixed;
		bottom: 0;
		right: 0;
		z-index: 20;
	}
	

	.right-icon
	{
		text-align: left;
		letter-spacing: 2px;
		line-height: 1.4em;\
		margin: 20px;
		position: fixed;
		top: 0;
		right: 0;
		z-index: 20;
		font-size: 3em;
		color: #fff;
	}
	

	.left-icon
	{
		text-align: left;
		letter-spacing: 2px;
		line-height: 1.4em;
		margin-top: 20px;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 20;
		font-size: 2.5em;
		color: #fff;
	}



/* ==========================================================================
	Social Media Icons
========================================================================== */	


	

	/* Wrapper */
	
	.icon-button
	{
		background-color: white;
		border-radius: 10px;
		cursor: pointer;
		display: inline-block;
		font-size: 3rem;
		height: 6rem;
		line-height: 6rem;
		margin: 0 20px;
		position: relative;
		text-align: center;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		width: 6rem;
		margin-top: 50px;
	}

	/* Circle */
	
	.icon-button span
	{
		border-radius: 0;
		display: block;
		height: 0;
		left: 50%;
		margin: 0;
		position: absolute;
		top: 50%;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
		width: 0;
	}
	
	
	.icon-button:hover span
	{
		width: 6rem;
		height: 6rem;
		border-radius: 10px;
		margin: -2.9rem;
	}

	/* Icons */
	
	.icon-button i
	{
		background: none;
		color: white;
		height: 6rem;
		left: 0;
		line-height: 6rem;
		position: absolute;
		top: 0;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
		width: 6rem;
		z-index: 10;
		border: 2px solid #fff;
		border-radius: 10px;
	}



/* ==========================================================================
	Instagram
========================================================================== */



	.instagram
	{
		background-color: #000;
	}

	/*HOVER*/

	.instagram span
	{
		background-color:#bad433;
	}

	
	.icon-button:hover .icon-instagram
	{
		color: #000;
	}
	
	

/* ==========================================================================
	Behance
========================================================================== */



	.behance
	{
		background-color: #000;
	}

	/*HOVER*/

	.behance span
	{
		background-color: #bad433;
	}

	
	.icon-button:hover .icon-behance
	{
		color: white;
	}

	
	
/* ==========================================================================
	Tumblr
========================================================================== */



	.tumblr
	{
		background-color: #000;
	}

	/*HOVER*/

	.tumblr span
	{
		background-color: #bad433;
	}

	
	.icon-button:hover .icon-tumblr
	{
		color: white;
	}

	

/* ==========================================================================
	Pinterest
========================================================================== */



	.pinterest
	{
		background-color: #000;
	}

	/*HOVER*/

	.pinterest span
	{
		background-color: #bad433;
	}

	
	.icon-button:hover .icon-pinterest
	{
		color: white;
	}


	
/* ==========================================================================
	Invest
========================================================================== */


	.usd
	{
		background-color: #000;
	}

	/*HOVER*/

	.usd span
	{
		background-color: #bad433;
	}

	
	.icon-button:hover .icon-usd
	{
		color: white;
	}

	

/* ==========================================================================
	Email
========================================================================== */



	.envelope-o
	{
		background-color: #000;
	}

	/*HOVER*/

	.envelope-o span
	{
		background-color: #bad433;
	}

	
	.icon-button:hover .icon-envelope-o
	{
		color: white;
	}


	@media all and (max-width: 680px) 
	{
		.icon-button 
		{
			border-radius: 8rem;
			font-size: 4rem;
			height: 8rem;
			line-height: 8rem;
			width: 8rem;
			margin-top: 50px;
		}

		
		.icon-button:hover span 
		{
			width: 8rem;
			height: 8rem;
			border-radius: 1rem;
			margin: -4rem;
		}

		
		/* Icons */
		.icon-button i 
		{
			height: 8rem;
			line-height: 8rem;
			width: 8rem;
		}

	}
	
	

/*=============================================================================
	Modal
=============================================================================*/		
	
	.myImg /* Style the Image Used to Trigger the Modal */
	{
		border-radius: 5px;
		cursor: pointer;
		transition: 0.3s;
	}

	
	.myImg:hover
	{
		opacity: 0.7;
	}
	
	
	.modal /* The Modal (background) */
	{
		display: none; /* Hidden by default */
		position: fixed; /* Stay in place */
		z-index: 25; /* Sit on top */
		padding-top: 2em; /* Location of the box */
		padding-bottom: 2em; /* Location of the box */
		left: 0;
		top: 0;
		width: 100%; /* Full width */
		height: 100%; /* Full height */
		overflow: auto; /* Enable scroll if needed */
		background-color: rgb(0,0,0); /* Fallback color */
		background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
	}
	
	
	.modal-content /* Modal Content (Image) */
	{
		margin: auto;
		display: block;
		width: 80%;
		height: auto;
		z-index: 25;
	}
	
	
	#caption /* Caption of Modal Image (Image Text) - Same Width as the Image */
	{
		margin: auto;
		display: block;
		width: 80%;
		max-width: 700px;
		text-align: center;
		color: #fff;
		padding: 10% 0;
		padding-top: 20px;
		text-transform: capitalize;
		z-index: 25;
	}
	
	
	.modal-content, #caption /* Add Animation - Zoom in the Modal */
	{
		-webkit-animation-name: zoom;
		-webkit-animation-duration: 0.6s;
		animation-name: zoom;
		animation-duration: 0.6s;
	}
	

	@-webkit-keyframes zoom 
	{
		from {-webkit-transform:scale(0)}
		to {-webkit-transform:scale(1)}
	}

	
	@keyframes zoom 
	{
		from {transform:scale(0)}
		to {transform:scale(1)}
	}



/* ==========================================================================
	Close Button
========================================================================== */

	.close
	{
		position: fixed;
		top: 0;
		right: 5%;
		color: #bad433;
		font-size: 10vh;
		font-weight: bold;
		transition: 0.3s;
		width: 10%;
		height: 100%;
		text-align: center;
		z-index: 20;
	}

	
	.close:hover, .close:focus
	{
		color: #bbb;
		text-decoration: none;
		cursor: pointer;
	}


	.close2
	{
		position: fixed;
		top: 0;
		right: 0;
		color: #f1f1f1;
		font-size: 10vh;
		font-weight: bold;
		transition: 0.3s;
		width: 100%;
		height: 100%;
		text-align: center;
		z-index: -2;
	}
	

	.close2:hover, .close2:focus
	{
		color: #bbb;
		text-decoration: none;
		cursor: pointer;
	}

	
	@media only screen and (max-width: 700px) /* 100% Image Width on Smaller Screens */
	{
		.modal-content
		{
			width: 100%;
		}
	}



/* ==========================================================================
	Filter
========================================================================== */



	.filter
	{
		background-color: none;
		text-align: center;
		text-decoration: none;
		width: 100%;
	}

	
	.filter ul
	{
		list-style: none;
		padding: 0;
		margin: 0;
		text-align: center;
	}

	
	.filter ul li
	{
		display: inline-block;
		margin: 0;
		padding-top: 6em;
		padding-bottom: 1em;
		color: #fff;
		text-decoration: none;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: .2em;
		font-size: 13px;
		font-weight: 500;
	}

	
	.filter ul li a
	{
		padding-left: 1em;
		padding-right: 1em;
		color: #fff;
		text-decoration: none;
		text-align: justify;
		font-family: 'Raleway', sans-serif;
	}

	
	.filter ul li a:hover
	{
		font-weight: 900;
		color: #bad433;
	}

	  
	  
/* ==========================================================================
	Gallery
========================================================================== */	  
	  
	  
	  
	.sets
	{ 
		-webkit-column-count: 5;
		-moz-column-count: 5;
		column-count: 5;
		-webkit-column-gap: 10px;
		-moz-column-gap: 10px;
		column-gap: 10px;
		margin-top: 10px;
		overflow: hidden;
		margin: 0 8%;
	}  	  
	  
	  
	.sets img
	{
		width:100%;
		height:auto;
		float:center;
		transition: 2s;
		margin-bottom: 10px;
		page-break-inside: avoid; /* For Firefox. */
		-webkit-column-break-inside: avoid; /* For Chrome & friends. */
		break-inside: avoid; /* For standard browsers like IE. :-) */
	}
	
	
	.sets a
	{
		width:100%;
		transition:all 0.2s;
		display:block;
		float:left;
		opacity:1;
		height:auto;
	}
	
	
	
/* ==========================================================================
	Mobile Media Screen
========================================================================== */



	@media screen and (max-width:950px)
	{		
		nav-circle, nav-circle a, #nav-circle-toggle, #nav-circle-toggle:after, #nav-circle-toggle:focus, .nav-circle-open nav-circle a, 
		.nav-circle-open #nav-circle-toggle, .nav-circle-open #nav-circle-toggle:after, nav-square, nav-square a, #nav-square-toggle, #nav-square-toggle:after, #nav-square-toggle:focus, .nav-square-open nav-square a,
		.nav-square-open #nav-square-toggle, .nav-square-open #nav-square-toggle:after, div-circle, div-square
		{ 
			display: none;
		}
		
		
				
		.filter
		{ 
			font-size: 2vh;
		}
		
		
		.filter ul li
		{
			display: inline-block;
			margin: 0;
			padding-top: 6em;
			padding-bottom: 1em;
			color: #fff;
			text-decoration: none;
			text-align: center;
			text-transform: uppercase;
			letter-spacing: .2em;
			font-size: 13px;
			font-weight: 500;
		}
		
		
		.sets
		{ 
			-webkit-column-count: 3;
			-moz-column-count: 3;
			column-count: 3;
			margin-left: 1em;
			margin-right: 1em;
		}		
		
	}
	
	
	@media screen and (min-width:951px)
	{		
		nav
		{
			display: none;
		}
		
		
		.grinding, .overlay, .overlay-content, .overlay a, .overlay a:hover, 
		.overlay a:focus, .overlay .closebtn
		{
			display: none;
		}
				
				
		#add-even-padding
		{
			padding: 4em 0em 4em;
		}			
	}
	
	
	@media screen and (max-width: 767px)
	{		
		.sets 
		{ 
			-webkit-column-count: 2;
			-moz-column-count: 2;
			column-count: 2;
			margin-left: 1em;
			margin-right: 1em;
		}
	}
	
	
	@media screen and (max-width: 479px)
	{
		.sets
		{ 
			-webkit-column-count: 1;
			-moz-column-count: 1;
			column-count: 1;
		}
		
		.filter ul li
		{
			display: block;
			margin: 0;
			padding-top: 2em;
			padding-bottom: 0em;
			color: #fff;
			text-decoration: none;
			text-align: center;
			text-transform: uppercase;
			letter-spacing: .2em;
			font-size: 13px;
			font-weight: 500;
		}
	}
	
	
	
/* ==========================================================================
	After Opened
========================================================================== */	
	
	
	
	.sets .hide
	{
		width:0%;
		opacity:0;
		transition:all 2s;
		float:center;
	}
	


/* ==========================================================================
	Mobile Nav Menu
========================================================================== */
   
   
   
   .grinding 
	{
		width: 100%;
		cursor: pointer;
		color: #000;
		font-family: 'Raleway', sans-serif;
		font-weight: 600;
		padding: 1.5em 0;
		font-size: 2em;
		text-transform: uppercase;
		background-color: #bad433;
		text-decoration: none;
		text-align: center;
		top:0;
	}

	
	.overlay
	{
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 30;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
	}
	

	.overlay-content
	{
		position: relative;
		top: 25%;
		width: 100%;
		text-align: center;
		margin-top: 30px;
	}

	
	.overlay a
	{
		padding: 8px;
		text-decoration: none;
		font-size: 36px;
		color: #818181;
		display: block;
		transition: 0.3s;
		text-transform: uppercase;
	}
	

	.overlay a:hover, .overlay a:focus
	{
		color: #bad433;
	}
	

	.overlay .closebtn
	{
		position: absolute;
		top: 20px;
		right: 45px;
		font-size: 60px;
	}

	
	@media screen and (max-height: 450px)
	{
	  .overlay {overflow-y: auto;}
	  .overlay a {font-size: 20px}
	  .overlay .closebtn {
		font-size: 40px;
		top: 15px;
		right: 35px;
	}
	
	
	
	
	
	
	
	
	
	
	nav
	{
		background-color: none;
		top:0;
		left:0;
		text-decoration: none;
		text-align: center;
	}

	
	nav ul
	{
		list-style: none;
		padding: 0;
		margin: 0;
		text-align: left;
		background-color: #000;		
	}

	
	nav ul li
	{
		display: inline-block;
		text-transform: uppercase;
		margin: 0;
		letter-spacing: .2em;
		font-size: .8em;
		padding-top: 4em;
		padding-bottom: 2em;
		color: #fff;
		font-weight: 500;
		text-align: center;		
	}

	
	nav ul li a
	{
		font-family: 'Raleway', sans-serif;
		padding: 1em 1em;
		text-decoration: none;
		color: #fff;
		text-align: center;
	}

	
	#responsive-nav 
	{
		cursor: pointer;
		color: #000;
		font-family: 'Raleway', sans-serif;
		font-weight: 600;
		padding: 1.5em 0;
		font-size: 1.5em;
		text-transform: uppercase;
		background-color: #bad433;
		text-decoration: none;
		text-align: center;
	}



/* ==========================================================================
	Padding
========================================================================== */   
	
	
	
	#add-even-padding
	{
		padding: 4em 0em;
	}		
	
	
	
/* ==========================================================================
	Circle Nav Menu
========================================================================== */   


	
	@import url(https://fonts.googleapis.com/css?family=Raleway:300);
	
	
	nav-circle
	{
		position: fixed;
		top: 100px;
		left: 0;
		z-index: 20;
	}
	
	
	nav-circle a
	{
		
		display: block;
		color: #000;
		padding-left: 20px;
		line-height: 5px;
		font-size: 13px;
		letter-spacing: 0.2em;
		margin-left: -500px;
		height: 50px;
		transition-property: margin-left;
		transition-duration: 0.2s;
		transition-timing-function: ease;
		text-transform: uppercase;
		text-decoration: none;
		letter-spacing: 0.2em;
		width: 300px;
		text-align: left;
		background-color: white;
		opacity: .8;
		padding-top: 20px;	
		font-weight: 500;
	}
	
	
	nav-circle a:hover
	{
	  font-weight: 900;
	}
	
	
	nav-circle a:nth-child(1)
	{
		transition-delay: 0s;
	}

	
	nav-circle a:nth-child(2)
	{
		transition-delay: 0.2s;
	}
	
	
	nav-circle a:nth-child(3)
	{
		transition-delay: 0.4s;
	}

	
	nav-circle a:nth-child(4)
	{
		transition-delay: 0.6s;
	}

	
	nav-circle a:nth-child(5)
	{
		transition-delay: 0.8s;
	}
	
	
	#nav-circle-toggle
	{
		width: 40px;
		height: 40px;
		border: none;
		background-color: rgba(0, 0, 0, 0);
		font: inherit;
		font-size: 40px;
		color: #fff;
		left: 0;
		top: 0;
		transition: -webkit-transform 0.2s ease;
		transition: transform 0.2s ease;
		transition: transform 0.2s ease, -webkit-transform 0.2s ease;
		padding: 0;
		position: fixed;
	}
	#nav-circle-toggle:after
	{
		content: "\f1db";
		font-family: "FontAwesome";
		cursor: pointer;
		position: fixed;
	}
	#nav-circle-toggle:focus {
		outline: none;
	}
	#nav-circle-toggle:hover {
		color: #bad433;
	}
	.nav-circle-open nav-circle a {
		margin-left: 0;
		padding-top: 20px;
		width: 300px;
		text-align: left;
		background-color: white;
		opacity: .8;
	}
	.nav-circle-open #nav-circle-toggle {
		-webkit-transform: rotate(-0);
			transform: rotate(-0);
	}
	.nav-circle-open #nav-circle-toggle:after {
		content: "\f111";
	}
	/* Base Style */
	* {
		box-sizing: border-box;
	}

	
		
/* ==========================================================================
	Square Nav Menu
========================================================================== */ 	
		
	
	
	nav-square
	{
		position: fixed;
		top: 100px;
		right: 0;
		z-index: 20;
	}
	
	
	nav-square a
	{
		display: block;
		color: black;
		padding-right: 20px;
		line-height: 5px;
		font-size: 13px;
		letter-spacing: 0.2em;
		margin-right: -500px;
		height: 50px;
		transition-property: margin-right;
		transition-duration: 0.2s;
		transition-timing-function: ease;
		text-transform: uppercase;
		text-decoration: none;
		width: 300px;
		text-align: right;
		background-color: white;
		opacity: .8;
		padding-top: 20px;
		font-weight: 500;
	}
	
	
	nav-square a:hover
	{
		font-weight: 900;
	}

	
	nav-square a:nth-child(1)
	{
		transition-delay: 0s;
	}

	
	nav-square a:nth-child(2)
	{
		transition-delay: 0.2s;
	}

	
	nav-square a:nth-child(3)
	{
		transition-delay: 0.4s;
	}

	
	nav-square a:nth-child(4)
	{
		transition-delay: 0.6s;
	}
	
	
	nav-square a:nth-child(5)
	{
		transition-delay: 0.8s;
	}

	
	#nav-square-toggle
	{
		width: 40px;
		height: 40px;
		border: none;
		background-color: rgba(0, 0, 0, 0);
		font: inherit;
		font-size: 40px;
		right: 0;
		top: 0;
		color: #fff;
		transition: -webkit-transform 0.2s ease;
		transition: transform 0.2s ease;
		transition: transform 0.2s ease, -webkit-transform 0.2s ease;
		padding: 0;
		position: fixed;
	}
	
	
	#nav-square-toggle:after
	{
		content: "\f096";
		font-family: "FontAwesome";
		cursor: pointer;
		position: fixed;	  	  
	}
	
	
	#nav-square-toggle:focus
	{
		outline: none;
	}
	
	
	#nav-square-toggle:hover
	{
		color: #bad433;
	}
	
	
	.nav-square-open nav-square a
	{
		padding-top: 20px;
		margin-right: 0;
		width: 300px;
		text-align: right;
		background-color: white;
		opacity: .8;
	}
	
	
	.nav-square-open #nav-square-toggle
	{
		-webkit-transform: rotate(-0);
		transform: rotate(-0);
	}
	
	
	.nav-square-open #nav-square-toggle:after
	{
		content: "\f0c8";
		position: fixed;
	}
	
	
	/* Base Style */
	* {
		box-sizing: border-box;
	}	
	
	
	div-circle
	{
		width: 50%;
		float: left;
	  
	}
	
	
	div-square
	{
		width: 50%;
		float: right;
	}
